$mainColor: var(--primary-color);

.icon {
    font-size: 4em;
    color: #5a5a5a;
}

a {
    position: relative;
    display: block;
    text-align: center;
    margin-right: 10vw;
    background: #fff;
    width: 100px;
    height: 100px;
    transition: 1.0s;
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0, 0);
    box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
}

a:hover {
    transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(20px, -20px);
    box-shadow: -50px 20px 50px rgba(0, 0, 0, .5);
}

a::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transition: 1.0s;
    transform: rotate(0deg) skewY(-45deg);
}

a::after {
    content: '';
    position: absolute;
    bottom: -21px;
    left: 6px;
    height: 25px;
    width: 72px;
    background: #b1b1b1;
    transition: 1.0s;
    transform: rotate(45deg) skewY(-45deg);
}

//hovering icons
a:hover {
    background: $mainColor;
    color: #fff;

    &:before {
        background: $mainColor;
    }

    &:after {
        background: $mainColor;
    }
}