@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('assets/fonts/Italic/AvenirNextLTPro-It.woff2') format('woff2'),
        url('assets/fonts/Italic/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('assets/fonts/Bold/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('assets/fonts/Bold/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('assets/fonts/Regular/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('assets/fonts/Regular/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('assets/fonts/Demi/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('assets/fonts/Demi/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro Cn';
    src: url('assets/fonts/DemiCondensed/AvenirNextLTPro-DemiCn.woff2') format('woff2'),
        url('assets/fonts/DemiCondensed/AvenirNextLTPro-DemiCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro MediumCn';
    src: url('assets/fonts/BoldCondensed/AvenirNextLTPro-BoldCn.woff2') format('woff2'),
        url('assets/fonts/BoldCondensed/AvenirNextLTPro-BoldCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

