<nav class="container-fluid">
    <div class="row align-items-center">
        <div class="nav-logo col-lg-7 align-self-center">
            <h4>MIGGY</h4>
        </div>
        <div class="nav-links col-lg-5 align-self-center">
            <ul class="nav nav-pills">
                <li 
                    class="nav-item" 
                    *ngFor="let link of links"
                    (click)="changeNav(link)"
                >
                    <a class="nav-link" [href]='link.url'>{{ link.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
