@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('./assets/fonts/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('./assets/fonts/AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro Cn';
    src: url('./assets/fonts/AvenirNextLTPro-DemiCn.woff2') format('woff2'),
        url('./assets/fonts/AvenirNextLTPro-DemiCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro Demi';
    src: url('./assets/fonts/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('./assets/fonts/AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('./assets/fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('./assets/fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url('./assets/fonts/AvenirNextLTPro-It.woff2') format('woff2'),
        url('./assets/fonts/AvenirNextLTPro-It.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNext LT Pro MediumCn';
    src: url('./assets/fonts/AvenirNextLTPro-BoldCn.woff2') format('woff2'),
        url('./assets/fonts/AvenirNextLTPro-BoldCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
