* {
    margin: 0;
    padding: 0;
    font-family: 'AvenirNext LT Pro';
}

.main {
    height: 90vh;
    width: 100vw;
}

.main .text-center {
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1em;
    color: #27496d;
    letter-spacing: 2px;
}

.main .card .card-body .card-title {
    color: #00909e;
}

.main .card {
    height: 500px;
}


/* Portrait and Landscape */
// Iphone 5 / SE
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .main {
        height: 180vh;
        width: 100vw;
    }

    .main .card {
        height: 345px;
        width: 85vw;
    }
    
    .main .text-center {
        font-size: 3em;
        font-weight: bold;
        line-height: 1em;
        color: #27496d;
        letter-spacing: 2px;
    }

}


/* Portrait and Landscape */
// iphone 6, 6s, 7, 8
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    .main {
        height: 220vh;
        width: 100vw;
    }

    .main .card {
        height: 400px;
        width: 85vw;
    }
    
    .main .text-center {
        font-size: 3em;
        font-weight: bold;
        line-height: 1em;
        color: #27496d;
        letter-spacing: 2px;
    }
}



